.archives-content .title {
	width: 100%;
	height: 40px;
	position: relative;
	margin-bottom: 50px;
	padding-bottom: 20px;
	border-bottom: 2px dashed #CCC;
}

.title h1 {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index:100;
	width: inherit;
	height: inherit;
	padding: 0px;
	margin: 0px;
	border-left: 10px solid #FF5E5E;
	color: #666;
	font: bold 24px/40px "Microsoft Yahei",Arial;
	text-indent: 15px;
	transition: color .3s ease;
}

.title:hover h1 {
	color: #FFF;
	cursor: pointer;
}

.title .bg {
	display: block;
	position: absolute;
	width: 0px;
	height: inherit;
	content: "";
	top: 0px;
	left: 0px;
	background-color: #FF7373;
	transition: width .3s ease-in;
	z-index: 99;
}

.title:hover .bg {
	width: 200px;
}

.title .bg:after {
	width: 0px;
	height: 0px;
	position: absolute;
	display: block;
	top: 0px;
	content: "";
	right: 0px;
	border: 20px solid transparent;
	border-right: 20px solid #FFF;
	z-index: 77;
}

.title:hover .bg:after {
	display: block;
}

.title .bg:before {
	width: inherit;
	height: inherit;
	position: absolute;
	content: "";
	left: 0px;
	bottom: 0px;
	display: block;
	box-shadow: -1px 1px 1px rgba(0, 0, 0, .1);
	z-index: 66;
}
.archive-time-line {
	position: relative;
}

.archive-time-line::before {
	position: absolute;
	display: block;
	content: "";
	width: 5px;
	height: 100%;
	margin: -30px 0;
	background-color: #505050;
	background-image: linear-gradient(to bottom, rgba(80, 80, 80, 0) 0%, #505050 8%, #505050 92%, rgba(80, 80, 80, 0) 100%);
	top: 0px;
	left: 150px;
	border-radius: 5px;
}

.archive-time-line .year {
	position: relative;
}

.archive-time-line .year h2 {
	color: #FFF;
	min-width: 52px; 
	font: bold 26px/30px Arial;
	display: inline-block;
	padding: 1px 6px;
	/*box-shadow: 0 0px 1px ;*/
	border: 1px solid #EAEAEA;
	border-radius: 4px;
	position: relative;
	background-color: #4AA5FD;
	z-index: 10000;
}

.archive-time-line .year::before {
	position: absolute;
	display: block;
	content: "";
	width: 150px;
	border-bottom: 3px dotted #ccc;
	top: 15px;
	left: 0px;
}

.archive-time-line .year::after {
	position: absolute;
	display: block;
	width: 20px;
	height: 20px;
	content: "";
	top: 3px;
	left: 138px;
	border-radius: 50px;
	background-color: #FF5E5E;
	border: 3px solid #FFF;
	box-shadow: 0 0 1px rgba(0, 0, 0, .1);
	z-index: 998;
}

.archive-time-line .year h2::after {
	position: absolute;
	display: block;
	width: 0px;
	height: 0px;
	content: "";
	left: 68px;
	top: 7px;
	border: 8px solid transparent;
	border-left: 8px solid #4AA5FD;
	/*box-shadow: 0 0 1px rgba(0, 0, 0, .1); */
	z-index: 999;
}

.archive-time-line .year h2::before {
	position: absolute;
	display: block;
	width: 0px;
	height: 0px;
	content: "";
	left: 68px;
	top: 6px;
	border: 9px solid transparent;
	border-left: 9px solid #EAEAEA;
}

.archive-time-line .month {
	margin-top:10px;
	position: relative;

}

.archive-time-line .month:before {
	position: absolute;
	top: 12px;
	left: 110px;
	content: "";
	display: block;
	width: 40px;
	height: 0px;
	border-bottom: 3px dotted #ccc;
}
.archive-time-line .month:after {
	position: absolute;
	top: 5px;
	left: 145px;
	content: "";
	display: block;
	width: 10px;
	height: 10px;
	border: 3px solid #FFF;
	background-color: #A100FC;
	box-shadow: 0 0 1px rgba(0,0,0,.1);
	border-radius: 50%;
}

.archive-time-line .month h3 {
	position: relative;
	display: inline-block;
	padding: 1px 5px;
	border-radius: 3px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	margin-left: 50px;
	font-size: 15px;
	background-color: #FFA200;
	border: 1px solid #EAEAEA;
	border-right: none;
	color: #FFF;
	font-weight: normal;
}

.archive-time-line .month h3:after {
	position: absolute;
	display: block;
	width: 0px;
	height: 0px;
	content: "";
	right: -22px;
	top: 0px;
	border: 12px solid transparent;
	border-left: 12px solid #FFA201;
}

.archive-time-line .month h3:before {
	position: absolute;
	display: block;
	width: 0px;
	height: 0px;
	content: "";
	right: -25px;
	top: -1px;
	border: 13px solid transparent;
	border-left: 13px solid #EAEAEA;
}

.archive-time-line .article-lists {
	font-size: 13px;
	margin: 0px 0px 0px 190px;
	color: #FF5E5E;
	/*border-left: 3px solid #ccc;*/
	padding: 4px 0px 4px 10px;
	line-height: 25px;

}
.archive-time-line .article-lists .day {
	display: inline-block;
	width: 25px;
	height:25px;
	line-height: 25px;
	text-align: center;
	color: #FFF;
	background-color: #FF5E5E;
	border-radius: 50%;
	font-weight: bold;
	margin-right: 6px;
} 
.archive-time-line .article-lists .article-title {
	font-size: 14px;
}

.archive-time-line .article-lists .article-title:hover {
	text-decoration: underline;
}

.archive-time-line .article-lists a {
	color: #666;
	line-height: 25px;
}
.archive-time-line .article-lists a:hover {
	color: #FF0606;
}

.archive-time-line .article-lists .comments {
	border: 1px solid #EAEAEA;
	display: inline-block;
	margin-left: 5px;
	padding: 0 10px;
	line-height: 23px;
	border-radius: 14px;
	position: relative;
	font-weight: bold;
	font-size: 12px;
}
.archive-time-line .article-lists .comments:hover{
	background-color: #4AA5FD;
	color: #fff;
}

.archive-time-line .article-lists .comments::before {
	position: absolute;
	display: block;
	content: "";
	width: 0px;
	height: 0px;
	right: 10px;
	top: 23px;
	border-top: 4px solid #EAEAEA;
	border-bottom: 4px solid transparent;
	border-left: 4px solid #EAEAEA;
	border-right: 4px solid transparent; 
}

.archive-time-line .article-lists .comments::after {
	position: absolute;
	display: block;
	content: "";
	width: 0px;
	height: 0px;
	right: 11px;
	top: 23px;
	border-top: 3px solid #FFF;
	border-bottom: 3px solid transparent;
	border-left: 3px solid #FFF;
	border-right: 3px solid transparent;
}

.archive-time-line .article-lists .comments:hover::after {
	border-top: 3px solid #4AA5FD;
	border-bottom: 3px solid transparent;
	border-left: 3px solid #4AA5FD;
	border-right: 3px solid transparent;
}