/*======================================== Article Comemnts ======================================*/
.article-comments-container .comment .comment-body {
	padding: 10px 0 10px 0;
	border-bottom: 1px solid rgba(0, 0, 0, .1);
	/*overflow: hidden;*/
}

.article-comments-container .comment .comment-body:after {
	display: block;
	visibility: hidden;
	clear: both;
	width: 0;
	height: 0;
	content: "";
}

.article-comments-container .bypostauthor .comment-by-post-author  {
	display:inline;
	margin: 0;
	padding: 2px 6px;
	border: 1px solid #178FFF; 
	border-radius: 2px;
	background-color: #4AA5FD;
	color: #FFF;
	font-size: 10px;
	font-family: Georgia, sans-serif;
	line-height: 25px;
}

.comment ul.children li {
	padding-left: 30px; 
}


.comment ul.children .avatar {
	width: 35px;
	height: 35px;
}

.comment-meta .edit-link .comment-edit-link {
	display: none;
	font-family: "宋体",sans-serif;
	margin-left: 5px; 
}

.comment-body:hover .comment-meta .edit-link .comment-edit-link {
	display: inline-block;
}

.comment-meta .edit-link .comment-edit-link:hover {
	color: #FF5E5E;
}

.comment-metadata,
.comment-metadata a, 
.comment-metadata a time {
	color: #999;
	font-size: 10px;
	line-height: 20px;
	font-family: "Microsoft Yahei", sans-serif;
}

.comment-metadata a:hover {
	text-decoration: none;
}

.comment-metadata a:hover time {
	color: #555;
}

.comment-body .comment-content {
	padding-left: 55px;
}

.comment-body .comment-content p {
	font-size: 13px; 
	line-height: 25px;
}

.comment-body .reply {
	margin-top: -15px;
	float: right;
}

.comment-body .reply a.comment-reply-link {
	padding: 4px 10px;
	font-size: 12px;
	opacity: 0;
	color: #FFF;
	background-color: #FF7373;
	border-radius: 2px;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .2);
	transition: all .4s ease-in-out;
}

.comment-body .reply a.comment-reply-link:hover {
	background-color: #FF5E5E;
	box-shadow: 0 0 1px rgba(0, 0, 0, .1);
}

.comment-body:hover .reply a.comment-reply-link {
	visibility: visible;
	opacity: 1;
}

.comment-meta.comment-author,
.comment-meta .comment-author.vcard {
	line-height: 25px;
}

.comment-author.vcard .fn {
	margin-right: 5px;
}

.comment-author.vcard .fn, 
.comment-author.vcard .fn .url {
	font-weight: normal;
	font-size: 16px;
}

.comment-author.vcard .fn .url {
	color: #FFA200;
}	

.comment-author.vcard .says {
	color: #999; 
	font-size: 10px;
}

.comment-author.vcard .avatar {
	display: block;
	float: left;
	overflow: hidden;
	margin: 0 10px 0 0;
	width: 45px;
	height: 45px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.22);
	border-radius: 4px;
	transition: all .6s ease-in-out;
}

.comment-author.vcard .avatar:hover {
	cursor: pointer;
	-webkit-transform:rotate(720deg);
	-moz-transform:rotate(720deg);
	-ms-transform:rotate(720deg);
	transform:rotate(720deg);

}

.article-comments-container .comment-title, 
.article-comments-container .comment-reply-title, 
.main-right-aside .widget-title {
	margin-bottom: 10px;
	color: #333;
	font-weight: 300;
	font-size: 20px;
	line-height: 30px;
}

/*======================================== Article Comemnts Form ======================================*/
.comment-form-container .comment-reply-title a, 
.comment-form-container .logged-in-as a:nth-child(1){
	color: #FFA200;
}

.comment-form-container .comment-reply-title > a, 
.comment-form-container .logged-in-as a:nth-child(1) {
	margin: 0 2px;
}

.comment-reply-title small , 
.comment-reply-title small a, 
.logged-in-as a:nth-child(2) {
	border-radius: 2px;
	background-color: #FF7373;
	color: #FFF;
	font-size: 10px;
}

.comment-form-container .logged-in-as {
	font-size: 14px;
	line-height: 25px;
}

.comment-form-container .comment-reply-title small a, .comment-form-container .logged-in-as a:nth-child(2) {
	padding: 2px 6px;
	border: 1px solid rgb(246, 92, 92);
	color: white;
}

.comment-awaiting-moderation {
	color: #777;
	font-size: 12px;
}

.comment-reply-title small a:hover,.comment-form .logged-in-as a:nth-child(2):hover {
	background-color: #FF5E5E;
	text-decoration: none;
}

.article-comments-container .comment-form-container {
	padding-top: 20px;
}

.author-info {
	margin: 10px 0;
	border-radius: 2px;
	background-color: #FFF;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}

#commentform label {
	display: inline-block;
	width: 70px;
	color: #777;
	font-size: 13px;
	line-height: 33px;
}

#commentform .required {
	color: #FF5E5E;
}

#commentform input[type="text"] {
	margin: 3px 0;
	height: 25px;
	border-radius: 2px;
}
#commentform .form-submit {
	overflow: hidden;
}

#commentform input[type="submit"] {
	padding: 5px 10px;
	border: 1px solid #178FFF;
	border-radius: 2px;
	background-color: #4AA5FD;
	color: #FFF;
}

#commentform input[type="submit"]:hover {
	background-color: #2D78FF;
	cursor: pointer;
}

#commentform .comment-notes, #commentform .form-allowed-tags {
	margin: 5px 0;
	background-color: #FBFBFB;
	color: #7e7e7e;
	font: normal 12px/1.5 "Source Code Pro";
}

#commentform textarea {
	margin: 5px 0;
}
