/*================================= 404 Not Find Page ==================================*/
.error {
	margin: 50px 0 20px 0;
	padding: 20px 15px;
	background-color: #FFF;
	border-radius: 6px;
	border: 1px solid #DDD;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
	position: relative;
	text-align: center;
}

.error h1.title {
	font: bold 90px/2 "Microsoft Yahei", Arial;
	text-align: center;
	color: #FFA200;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
	/*-webkit-animation: text-blink 1s ease-out infinite ;*/
	-moz-animation: text-blink 1s ease-out infinite;
	-ms-animation: text-blink 1s ease-out infinite;
	animation: text-blink 1s ease-out infinite;
	/*border-bottom: 1px solid rgba(0, 0, 0, .1);*/
}


@-webkit-keyframes text-blink{
	0% {
		text-shadow: 0 1px 0px rgba(0, 41, 255, 0.1);
	}
	25% {
		text-shadow: 0 1px 5px rgba(0, 41, 255, 0.2);
	}
	50% {
		text-shadow: 0 1px 10px rgba(0, 41, 255, 0.4);
	}
	75% {
		text-shadow: 0 1px 15px rgba(0, 41, 255, 0.5);
	}
	100% {
		text-shadow: 0 1px 20px rgba(0, 41, 255, 0.8);
	}
}

.error .not-find-img-1 {
	position: absolute;
	top: -5px;
	right: -50px;
	width: 200px;
	display: block;
	transition: all .1s ease;
	-webkit-transform-origin: 50% 0%;
	-moz-transform-origin: 50% 0%;
	-ms-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
	-webkit-animation: wall-e 4s ease-out infinite ;
	-moz-animation: wall-e 4s ease-out infinite;
	-ms-animation: wall-e 4s ease-out infinite;
	animation: wall-e 4s ease-out infinite;

}

@-webkit-keyframes wall-e{
	0% {
		-webkit-transform: rotate(0deg);
	}
	25% {
		-webkit-transform: rotate(10deg);
	}
	50% {
		-webkit-transform: rotate(0deg);
	}
	75% {
		-webkit-transform: rotate(-10deg);
	}
	100% {
		-webkit-transform: rotate(0deg);
	}
}

@-moz-keyframes wall-e{
	0% {
		-moz-transform: rotate(0deg);
	}
	25% {
		-moz-transform: rotate(10deg);
	}
	50% {
		-moz-transform: rotate(0deg);
	}
	75% {
		-moz-transform: rotate(-10deg);
	}
	100% {
		-moz-transform: rotate(0deg);
	}
}

@-ms-keyframes wall-e{
	0% {
		-ms-transform: rotate(0deg);
	}
	25% {
		-ms-transform: rotate(10deg);
	}
	50% {
		-ms-transform: rotate(0deg);
	}
	75% {
		-ms-transform: rotate(-10deg);
	}
	100% {
		-ms-transform: rotate(0deg);
	}
}

@keyframes wall-e{
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(10deg);
	}
	50% {
		transform: rotate(0deg);
	}
	75% {
		transform: rotate(-10deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
.error .not-find-img-1 img, .error .not-find-img-2 img {
	width: inherit;
}

.error .not-find-img-2 {
	width: 130px;
	position: absolute;
	left: 0;
	bottom: -100px;
	display: block;
}

.error .notice-text {
	margin-top: 20px;
	padding: 5px 20px;
	font: normal 16px/50px "Microsoft Yahei", "宋体", Arial;
	color: #666;
	border: 2px dashed rgba(0, 0, 0, .2);
	border-radius: 5px;
	background-color: rgba(0, 0, 0, .03);
}

.error .suggestion .title {
	font: normal 24px/1.5 "Microsoft Yahei";
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	margin: 20px 0;
	color: #2D81FF;
	text-align: left;
	text-indent: 120px;
}

.error .suggestion .suggestion-content {
	margin: 20px 0;
	color: #777;
	font-weight: bold;
}

.suggestion .suggestion-content .btn {
	padding: 6px 14px;
	background-color: blue;
	border-radius: 2px;
	color: #FFF;
	font-size: 14px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
	box-shadow: 0 0 1px rgba( 0, 0, 0, 0.1);
}

.suggestion .suggestion-content .btn:hover {
	text-decoration: none;
	cursor: pointer;
}

.suggestion .suggestion-content .send-email {
 	background-color: #FF7373;
 	border: 1px solid rgb(246, 92, 92);
 }

.suggestion .suggestion-content .send-email:hover {
 	background-color: #FF5E5E;
 }

.suggestion .suggestion-content .back-to-home {
	background-color: #5290FF;
	border: 1px solid #005BFF;
}

 .suggestion .suggestion-content .back-to-home:hover {
 		background-color: #2D78FF;
 }
