/*======================================== Author Page ========================================*/
.author {
	width: 650px;
}


/**** 分类页 与 标签页 的介绍小卡片 ****/
.description-card {
	position: relative;
}

/**** 小装饰 ****/
.description-card:after {
	position: absolute;
	top: 0;
	right: 20px;
	display: block;
	width: 20px;
	height: 60px;
	background-color: #FF5E5E;
	content: "";
}

.description-card:before {
	position: absolute;
	top: 40px;
	right: 20px;
	z-index: 999;
	display: block;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-bottom-color: #FFF;
	content: "";
}
/*** 小装饰 结束 ****/

.description-card  .desc-text-wrap {
	/*margin-left: 95px;*/
}

.description-card .desc-title {
	margin-left: 90px;
	padding-bottom: 5px;
	font: normal 20px/30px "Microsoft Yahei", Arial;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	color: #4AA5FD;
}

.description-card .desc-title q {
	font-weight: bold;
}

.description-card .desc-title::before {
	font-size: 22px;
	vertical-align: middle;
	display: block;
	float: left;
	margin-right: 5px;
	line-height: inherit;
}

.description-card .desc-image {
	display: block;
	margin-right: 15px;
	width: 80px;
	height: 80px;
	float: left;
	border-radius: 4px;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}

.description-card .desc-text {
	margin-top: 5px;
}

.description-card .desc-text p {
	font: normal 13px/23px "Microsoft Yahei", Arial;
}
