/*======================================== Author Page ========================================*/
.author {
	width: 650px;
}
.description {
	position: relative;
}

.description:after {
	position: absolute;
	top: 0;
	right: 25px;
	display: block;
	width: 20px;
	height: 60px;
	background-color: #FF5E5E;
	content: "";
}

.description:before {
	position: absolute;
	top: 40px;
	right: 25px;
	z-index: 999;
	display: block;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-bottom-color: #FFF;
	content: "";
}

.description .description-text-content {
}

.description .description-title {
	margin-left: 90px;
	padding-bottom: 5px;
	font: normal 20px/30px "Microsoft Yahei", Arial;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	color: #4AA5FD;
}

.description .description-title q {
	font-weight: bold;
}

.description .description-title::before {
	font-size: 24px;
	line-height: inherit;
}

.description .description-image {
	display: block;
	margin-right: 15px;
	width: 80px;
	height: 80px;
	float: left;
	border-radius: 4px;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}

.description .description-text {
	margin-top: 5px;
}

.description .description-text p {
	font: normal 13px/23px "Microsoft Yahei", Arial;
}
