/********************************** Single Post ****************************/
.main-content .single-post-wrap {
  padding: 0;
}

.single-post-wrap .post {
  padding: 20px 30px 25px 30px;
  overflow: hidden;
}

.single-post-wrap .post-thumbnail-wrap {
  position: relative;
  border-radius: 4px 4px 0 0;
  overflow: hidden;
}

.single-post-wrap .post-thumbnail-wrap .thumbnail-cover {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(transparent 0%, rgba(0, 0, 0, .0));
  transition: background .4s ease;
}

.single-post-wrap .post-thumbnail-wrap .thumbnail {
  display: block;
  width: 650px;
  min-height: 50px;
}

.single-post-wrap .single-post {
  transition: margin 0.8s ease-in-out;
}

/*======================================== Article Begin ======================================*/
.post .post-top-column {
  margin: 0 0 10px 0;
}

/************************************** Post Avatar ***************************************/
.post .author-avatar-wrap {
  margin-right: 10px;
}

.author-avatar-wrap .author-avatar {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
}

.author-avatar-wrap .author-name {
  position: absolute;
  display: none;
  text-align: center;
  padding: 4px 5px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  bottom: -24px;
  background-color: #333;
  color: #FFF;
  font-size: 12px;
  line-height: 1;
  border-radius: 2px;
  opacity: 0;
  transition: opacity .5s ease;
  font-family: Arial, sans-serif;
}

.author-avatar-wrap:hover .author-name {
  display: inline-block;
  opacity: 1;
}

.author-avatar-wrap .author-name::after {
  position: absolute;
  top: -10px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-bottom-color: #333;
  /*z-index: 99; */
}

.author-avatar-wrap .avatar {
  display: block;
  width: inherit;
  height: inherit;
  border-radius: 3px;
  box-shadow: 0 0 1px rgba(0, 0, 0, .08);
}

/************************************** Post Title ***************************************/
.post .post-title {
  //position: relative;
  /*top: -1px;*/
  min-height: 35px;
  line-height: 34px;
  //font-size: 35px;
  max-width: 530px;
  //line-height: 0;
  margin: 0;
  padding: 0;
}

.post-title .post-url {
  text-decoration: none;
  font: lighter 25px/1 "Microsoft Yahei", Arial;
  line-height: 25px;
  color: #555;
  transition: color .5s ease;
  vertical-align: text-top;
}

.post-title .post-url:hover {
  color: #333;
}

/************************************** Post Ends ***************************************/

/************************************** Post Icons ***************************************/
.post-meta .icon {
  float: left;
  display: block;
  min-width: 10px;
  height: 15px;
  margin-right: 5px;
  font-size: 0;
  line-height: 15px;
}

.post-meta .icon::before {
  font-size: 20px;
  line-height: 15px;
  display: block;
  font-family: "Ionicons";
}

.post-column-bottom.post-meta .icon {
  height: 20px;
  line-height: 20px;
}

.post-column-bottom.post-meta .icon::before {
  line-height: 20px;
}

/* 特殊时间 */
.post-time .icon::before {
  font-size: 18px;
}

.post-category .icon::before {
  font-size: 15px;
}

/************************************** Post Icons Ends ************************************/
.post .post-meta {
  width: 530px;
  min-height: 15px;
  font-size: 12px;
  line-height: 15px;
  color: #999;
  position: relative;
  bottom: -1px;
}

/* 特殊底部Post Meta */
.post .post-column-bottom.post-meta {
  line-height: 20px;
  min-height: 20px;
  bottom: 0;
}

/* 特殊化分类 */
.post-tags .icons，
.post-category .icons {
  float: left;
  display: table-cell;
}

.post .post-category {
  max-width: 400px;
}

.post .post-category a {
  display: inline-block;
}

.post .post-category,
.post .post-time,
.post .post-comment {
  display: inline-block;
  color: #A3A3A3;
  font: normal 12px/15px Arial, "宋体", "Microsoft Yahei";
}

.post .post-comment {
  line-height: 20px;
}

.post .post-time-date,
.post .post-meta a {
  color: inherit;
  line-height: inherit;
}

.post .post-meta a:hover {
  color: #FFA200;
}

.post .post-column-bottom {
  padding: 15px 0 0 0;
  width: 590px;
  min-height: 20px;
  line-height: 20px;
}

/* tag 换行 */
.post-tags .tag-list {
  width: 480px;
  float: left;
  margin-left: 0;
}

/* 每个 tag */
.post-tags .tag-list a {
  padding: 0 8px;
  border-radius: 10px;
  color: #4AA5FD;
  border: 1px solid #4AA5FD;
  display: block;
  float: left;
  line-height: 18px;
  height: 18px;
  font-size: 12px;
  margin: 0 3px 1px 0;
}

.post-tags .tag-list a:hover {
  background-color: #4AA5FD;
  color: #FFF;
  text-decoration: none;
  box-shadow: 0 0 1px rgba(0, 0, 0, .04);
  transition: all .2s ease-in;
}

/**** 有缩略图的文章标题 ***/
.single-post-wrap.has-thumbnail .post-title .post-url {
  color: #FFF;
  transition: none;
}

.single-post-wrap.has-thumbnail .post-title .post-url:hover {
  color: #FFA200;
}

.single-post-wrap.has-thumbnail .author-avatar img {
  position: relative;
  border-radius: 50%;
  transition: border-radius .5s linear;
}

/**** 有缩略图 *****/
.single-post-wrap.has-thumbnail .post-category,
.single-post-wrap.has-thumbnail .post-time,
.single-post-wrap.has-thumbnail .a {
  color: #EEE;
}

/********************************************************************************************/
/************************************** Post Entry ******************************************/
/********************************************************************************************/
.post .entry {
  padding-top: 5px;
  padding-bottom: 10px;
  border-top: 1px solid rgba(0, 0, 0, .05);
  border-bottom: 1px solid rgba(0, 0, 0, .05);
  color: #333;
  font-size: 14px;
  line-height: 1.5;
}

.entry h1,
.entry h2,
.entry h3,
.entry h4,
.entry h5,
.entry h6 {
  margin: 15px 0;
  color: #333;
  line-height: 1.6;
  font-weight: normal;
}

.entry h1 {
  font-size: 22px;
}

.entry h2 {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  font-size: 18px;
}

.entry h3 {
  font-size: 16px;
}

.entry p {
  margin: 10px 0;
  color: #555;
  font: normal 14px/25px "Microsoft Yahei", SimHei, YouYuan, STHeiti;
  text-align: justify;
  //text-indent: 1em;
}

.entry p:after {
  content: "";
  width: 0;
  height: 0;
  display: block;
  visibility: hidden;
  border: none;
  clear: both;
}

.entry blockquote {
  padding: 25px 60px;
  margin: 0 -30px;
  background-color: #FBFBFB;
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, .03),
  inset 0 -1px 0 rgba(0, 0, 0, .03);
}

.entry blockquote::before {
  top: 30px;
  left: 30px;
}

.entry blockquote::after {
  right: 30px;
  bottom: 30px;
}

.entry blockquote p {
  color: #777;
}

.entry a {
  color: #555;
  text-decoration: underline;
}

.entry a:hover {
  color: #FFA200;
}

.entry hr {
  margin: 10px -30px;
  border-top: none;
  border-color: rgba(0, 0, 0, .1);
}

.entry table {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, .1);
  border-collapse: collapse;
  border-radius: 2px;
  background-color: #fff;
  color: #333;
  font-size: 14px;
  line-height: 1.5;
}

.entry code {
  margin: 0 2px;
  padding: 0 5px;
  border: 1px solid #eaeaea;
  border-radius: 3px;
  background-color: #f8f8f8;
  white-space: nowrap;
  font-family: "Source Code Pro", "Microsoft Yahei", Arial, sans-serif;
}

.entry table tr {
  margin: 0;
  padding: 0;
  border-top: 1px solid #cccccc;
  background-color: white;
}

.entry table tr th, .entry table tr td {
  padding: 4px 9px;
  border: 1px solid #ccc;
  text-align: left;
}

.entry table tr:nth-child(odd) {
  background-color: #f8f8f8;
}

.entry ul {
  padding-left: 15px;
}

.entry ul li {
  list-style-type: disc;
}

.entry li {
  margin: 5px 0 5px 15px;
  font-size: 14px;
}

.entry ul li ol,
.entry ul li ol li {
  padding: 0 0 0 20px;
  list-style-type: decimal;
}

.entry ul li ol li {
  padding: 0;
}

.entry img {
  font-size: 0;
  display: block;
  margin-top: 5px;
  //margin-left: -25px;
  //margin-right: -25px;
  //padding: 5px;
  //border: 1px solid #E0E0E0;
  box-shadow: 0 0 2px rgba(0, 0, 0, .1);
  box-sizing: border-box;

}

.entry .video {
  background: #333;
  padding: 20px 0;
  width: 650px;
  margin: 0 0 0 -30px;
  border-bottom: 1px solid #111;
}

.entry embed {
  display: block;
  margin: 0 auto;
}

/************************* Article *******************/
.entry .site-info {
  position: relative;
  margin: 15px 0;
  padding: 5px 15px;
  border: 1px solid #EAEAEA;
  border-radius: 3px;
  background-color: #FBFBFB;
  box-shadow: 0 0 1px rgba(0, 0, 0, .05);
}

.entry .site-info:after {
  position: absolute;
  top: -1px;
  right: 10px;
  display: block;
  width: 20px;
  height: 65px;
  background-color: #FF5E5E;
  content: "";
}

.entry .site-info:before {
  position: absolute;
  top: 45px;
  right: 10px;
  z-index: 999;
  display: block;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom-color: #FBFBFB;
  content: "";
}

.entry .site-info h2 {
  margin: 0 0 10px 0;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .4);
  color: #FFA200;
  font: bold 25px/45px "Microsoft Yahei", Arial, sans-serif;
}

.entry .site-info img {
  display: block;
  padding: 0;
  margin: 0;
  box-shadow: none;
  border: none;
}

.entry .summary {
  margin-top: 15px;
  color: #4AA5FD;
  font: bold 20px/40px "Microsoft Yahei", Arial;
}

.entry a {
  font-weight: normal;
}

/*** Read More ****/
.entry .more-link {
  float: right;
  clear: right;
  padding: 4px 6px;
  border: 1px solid rgb(246, 92, 92);
  border-radius: 2px;
  background-color: #FF7373;
  color: #FDFDFD;
  text-decoration: none;
  font: lighter 13px/1.5 "Microsoft Yahei";
  transition: background-color 0.2s ease,
  color 0.2s ease,
  box-shadow 0.2s ease;
}

.entry .more-link:hover {
  background-color: #FF5E5E;
  text-decoration: none;
  color: #FFF;
  box-shadow: 0 0 1px rgba(0, 0, 0, .3);
}

/*======================================== Article Single Page Author Information Card ========================================*/
.author-info .author-avatar {
  margin-right: 10px;
  width: 80px;
  height: 80px;
}

.author-info .author-avatar .avatar {
  display: block;
  width: inherit;
  height: inherit;
  border-radius: 4px;
  box-shadow: 0 0 1px rgba(0, 0, 0, .1);
}

.author-info .author-description {
  clear: right;
  width: 490px;
}

.author-info .author-description .author-name,
.author-info .author-description .author-name a {
  color: #FFA200;
  font: bold 20px/30px Arial, "Microsoft Yahei";
}

.author-info .author-descript .author-summery {
  color: #999;
  font-size: 14px;
  line-height: 1.5;
}

.author-info .author-contact {
  clear: both;
  margin-top: 15px;
  width: 100%;
}

.author-info .author-contact ul {
  font-size: 0;
  height: 20px;
}

.author-info .author-contact ul li {
  display: inline-block;
  margin-right: 10px;
  font: normal 14px/20px Arial, "Microsoft Yahei";
  transition: all .15s ease-in;
}

.author-info .author-contact ul li a {
  display: inline-block;
  color: #CCC;
}

.author-info .author-contact ul li:hover a {
  color: #666;
}

.author-info .author-contact ul li:before {
  display: block;
  float: left;
  margin-right: 5px;
  width: 20px;
  height: 20px;
  background: transparent url("../image/icons.png") center no-repeat scroll;
  content: "";
  transition: all .15s ease;
}

.author-info .author-contact ul li.email:before {
  background-position: -60px -40px;
}

.author-info .author-contact ul li:hover.email:before {
  background-position: -60px -60px;
}

.author-info .author-contact ul li.website:before {
  background-position: -80px -40px;
}

.author-info .author-contact ul li:hover.website:before {
  background-position: -80px -60px;
}

.author-info .author-contact ul li.twitter:before {
  background-position: -20px -40px;
}

.author-info .author-contact ul li:hover.twitter:before {
  background-position: -20px -60px;
}

.author-info .author-contact ul li.facebook:before {
  background-position: -40px -40px;
}

.author-info .author-contact ul li:hover.facebook:before {
  background-position: -40px -60px;
}

.author-info .author-contact ul li.github:before {
  background-position: -0px -40px;
}

.author-info .author-contact ul li:hover.github:before {
  background-position: -0px -60px;
}

.author-info .author-contact ul li.google-plus:before {
  background-position: -100px -40px;
}

.author-info .author-contact ul li:hover.google-plus:before {
  background-position: -100px -60px;
}
