/*========================================================================================*/
/*======================================== Siderbar ======================================*/
/*========================================================================================*/
.main-right-aside {
	margin-top: 10px;
	margin-left: 10px;
	width: 340px; 
}

.main-right-aside li,
.main-right-aside  a {
	color: #666;
	font-size: 13px;
	line-height: 25px;
	transition: color .2s ease;
}

.main-right-aside  ul li a:hover {
	color: #FFA200;
}

.main-right-aside ul, .main-right-aside ul li {
	margin: 0;
	padding: 0;
	list-style: none;
}

.main-right-aside .widgets-lists {
	margin: 0 0 10px 0;
	padding: 20px;
	border-radius: 2px;
	background-color: #FFF;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}

.widgets-lists .textwidget {
	text-align: center;
}

.main-right-aside .widgets-lists ul {
	padding: 0 0 0 5px;
}

/************************************** Blog Roll ***************************************/
.main-right-aside .blogroll {
	margin-left: 5px;
}

.blogroll:after {
	display: block;
	content: "";
	width: 0;
	height: 0;
	clear: both;
}

.main-right-aside .blogroll li {
	line-height:25x;
	width: 50%;
	float: left;
	list-style-type: none;
}

.blogroll li a {
	line-height: inherit;
}


.blogroll  img {
	display: inline-block;
	margin-bottom: 4px;
	width: 16px;
	height: 16px;
	vertical-align: middle;
	line-height: inherit;
}

/***** inside list *****/
.main-right-aside .widgets-lists ul, 
.main-right-aside .widgets-lists ul li {
	margin: 0 0 0 5px;
	/*list-style-type: disc;*/
}

.main-right-aside .widgets-lists ul li ul {
	padding: 0 0 0 5px;
}

/************************************** Category List ***************************************/

.main-right-aside .category-list  {
	/*padding-left: 15px;*/
	list-style: none;
}

.main-right-aside .cat-item {
	list-style: none;
	line-height: 30px;
	font-size: 14px;
}

.main-right-aside .cat-item .children {
	margin-left: 10px;
	display: none;
}

.main-right-aside .cat-item a {
	font-weight: normal;
	line-height: inherit;
	font-size: inherit;
	font-family: Arial, "宋体";
}

.main-right-aside .children .cat-item  {
	line-height: 26px;
	font-size: 12px;
}

.cat-item .count {
	float: right;
	text-align: center;
	width: 30px;
}

.cat-item .number {
	display: inline-block;
	padding: 0 4px;
	height: 15px;
	/*min-width:1px;*/
	font-size: 12px;
	border: 1px solid #777;
	font-family: Arial,sans-serif;
	line-height: 15px;
	vertical-align: middle;
	border-radius: 14px;
	color: #777;
	
	text-align: center;
}

.main-right-aside .cat-item::before {
	content: "\f434";
	font-family: "Ionicons";
	font-size: 17px;
	line-height: inherit;
	margin-right: 5px;
	display: block;
	float: left;
	transition: all .5s ease-in;
}

.main-right-aside .children .cat-item::before {
	font-size: 14px;
}

.main-right-aside .cat-item.active::before {
	content: "\f435";
}

/************************************** Siderbar Most Comment Wall ***************************************/
.main-right-aside .widgets-lists ul.most-comments-friend-wall,
.main-right-aside .widgets-lists ul.most-comments-friend-wall li.most-active-people,
.tab-container .tab-content .tab-content-list ul.most-comments-friend-wall,
.tab-container .tab-content .tab-content-list ul.most-comments-friend-wall li.most-active-people {
	margin: 0;
	padding: 0;
	list-style: none;	
}

.most-comments-friend-wall {
	overflow: hidden;
}

.most-comments-friend-wall .most-active-people {
	float: left;
}

.most-comments-friend-wall .most-active-people a {
	display: block;
	margin: 0 5px 5px 0;
}

.most-comments-friend-wall .most-active-people:nth-child(7n+7) a {
	margin-right: 0;
}

.most-comments-friend-wall .most-active-people .avatar {
	display: block;
	border-radius: 3px;
	box-shadow: 0 0 1px rgba(0, 0, 0, .2);
} 

.most-comments-friend-wall .most-active-people .avatar:hover {
	-webkit-filter: blur(1px);
	-moz-filter: blur(1px);
	-ms-filter: blur(1px);
	filter: blur(1px);
}

/************************************** Siderbar Calendar ***************************************/
#wp-calendar {
	width: 100%;
	border-collapse: collapse;
}

#wp-calendar caption {
	border-top: 1px solid rgba(0, 0, 0, .15);
	font-size: 20px;
	line-height: 60px;
	color: #666;
	font-weight: normal;
	letter-spacing: 2px;
}

#wp-calendar tfoot tr td {
	line-height: 50px;
	height: 50px;
}

#wp-calendar thead {
	border-collapse:collapse;
	text-align: center;
	
}

#wp-calendar thead th {
	font-size: 15px;
	line-height:50px;
	height: 50px;
	font-weight: normal;
	color: #666;
	font-family: "宋体","仿宋";
	border-top: 1px solid rgba(0, 0, 0, .1);
	border-bottom: 1px solid rgba(0, 0, 0, .1);
}



#wp-calendar tbody td {
	width: 42px;
	height: 42px;
	line-height: 42px;
	font-size: 15px;
	color: #777;
	text-align: center;
	font-family: Arial, sans-serif;
}

#wp-calendar tbody a {
	display: block;
	margin: 0 auto;
	width: 25px;
	height: 25px;
	line-height: 25px;
	border-radius: 50%;
	text-align: center;
	background-color: #FF7373;
	/*border: 1px solid #FF5E5E;*/
	color: #FFF;
	vertical-align: middle;
}

#wp-calendar tbody a:hover{
	background-color: #FF5E5E;
}

#prev a, 
#next a {
	position: relative;
	display: block;
	/*background-color: #4AA5FD;*/
	border: 1px solid #4AA5FD;
	color: #4AA5FD;
	line-height: 26px;
	height: 24px;
	width: 50px;
	margin-left: auto;
	margin-right: auto;
	/*color: #FFF;*/
	text-align: center;
	border-radius: 5px;
} 

#prev a {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

#prev a::before, 
#next a::before,
#prev a::after, 
#next a::after  {
	position: absolute;
	left: 0px;
	display: block;
	content: "";
	width: 0px;
	height: 0px;
	border: 13px solid transparent;
	/*border-radius: 5px;*/
}

#prev a::before, 
#next a::before {
	top: -1px;
}

#prev a::after, 
#next a::after {
	top: 0px;
	border: 12px solid transparent;
}

#prev a::after {
	border-right-color: #FFF; 
	left: -24px;
}

#prev a::before {
	left: -27px;
	border-right-color:#4AA5FD; 
}

#prev a:hover, 
#next a:hover{
	background-color: #2D78FF;
	text-decoration: none;
}

#wp-calendar #next {
	text-align: right;
}

/************************************** Siderbar Search ***************************************/
.sidebar #searchform #s, .sidebar #searchform #searchsubmit{
	margin: 0;
	padding: 0;
	height: 25px;
	border: 1px solid #DDD;
	border-radius: 2px;
}

.sidebar #searchform #searchsubmit {
	padding: 0 5px;
	border-color: #ffa200;
	background-color: #ffa200;
	color: #FFF;
}

.sidebar #searchform #searchsubmit:hover {
	cursor: pointer;
}

.article-comments-container {
	border-radius: 2px;
	background-color: #FFF;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}

/************************************** Wdgit New Coments ***************************************/
.main-right-aside .widgets-lists ul.new-comments,
.main-right-aside .widgets-lists ul.new-comments li.new-comment-lists ,
.tab .tab-container .tab-content .tab-content-list ul.new-comments,
.tab .tab-container .tab-content .tab-content-list ul.new-comments li.new-comment-lists {
	margin: 0;
	padding: 0;
	list-style: none;
}

.new-comments .new-comment-lists {
	line-height: 20px;
}

.new-comments .new-comment-lists a {
	display: block;
	overflow: hidden;
	margin: 10px 0;
	font-size: 12px;
	line-height: 20px;
}

.new-comments .new-comment-lists a .avatar {
	display: block;
	float: left;
	margin-right: 10px;
	border-radius: 3px;
	box-shadow: 0 0 1px rgba(0, 0, 0, .4);
}

/****** 四合一小工具 图标修复 ******/
.tab-switcher-list .ion-ios-time-outline::before {
	font-size: 18px;
}

.tab-switcher-list .ion-ios-filing-outline::before {
	font-size: 22px;
}